@import "tailwindcss";

html {
  font-size: calc(0.864vw);
}

body {
  font-family: "Plus+Jakarta+Sans", sans-serif;
}


.gradient-text {
  /* 1. Задаем градиент фоном */
  background: linear-gradient(
    90deg,
    #ffffff 40%,
    rgba(255, 255, 255, 0) 100% /* Прозрачный белый в конце */
  );

  /* 2. обрезаем фон по тексту */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Делаем сам текст прозрачным, чтобы фон просвечивал */
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.custom-gradient-profile {
  background: linear-gradient(
    180deg,
    #060b28f0 0%,
    /* #060B28 с 94% непрозрачности */ #0a0e239e 100%
      /* #0A0E23 с 62% непрозрачности */
  );
}

.custom-gradient-profile-edit {
  background: linear-gradient(
    300deg,
    #0a0e23b0 40%,
    /* Сплошной цвет (без F0) */ #0a0e237d 60%,
    /* Сплошной цвет (без 7D) */ #060b28f0 100% /* Сплошной цвет (без B0) */
  );
}

.gradient-car-info {
  background: linear-gradient(
    180deg,
    #060b28f0 15%,
    /* Верх: Почти непрозрачный */ #0a0e237d 70%,
    /* Середина: Полупрозрачный */ #0a0e23b0 100% /* Низ: Чуть плотнее */
  );
}

.gradient-ellipse {
  background: linear-gradient(
    10deg,
    #060B28B2 15%,
    #080D25B6 60%,
    #0A0E2359 100%
  )
}

.gradient-profile-informations {
  background: linear-gradient(
    180deg,
    #060B28F0 40%,
    #0A0E237D 100%
  );
}

.gradient-card {
  background: linear-gradient(45deg, #060b26bd 30%, #1a1f3780 100%);
}

/* Toggle Switch css */
/* Toggle Switch css */
.switch {
  position: relative;
  display: inline-block;
  width: 2.25rem;
  height: 1.1563rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1B1F3D;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  /* РАСЧЕТ РАЗМЕРОВ КРУЖКА: */
  /* Высота контейнера (1.1563rem) минус отступы (~0.3rem) */
  height: 0.85rem;
  width: 0.85rem;
  /* Отступы, чтобы кружок был по центру */
  left: 0.153rem;
  bottom: 0.153rem;
  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1B1F3D;
}

input:checked + .slider:before {
  /* РАСЧЕТ СДВИГА: */
  /* Ширина (2.25) - Ширина кружка (0.85) - Отступы слева и справа (0.306) */
  -webkit-transform: translateX(1.09rem);
  -ms-transform: translateX(1.09rem);
  transform: translateX(1.09rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gradient-platform-settings {
  background:linear-gradient(
    45deg,
    #060B28F0 40%,
    #0A0E237D 100%
  )
}